.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.header__logo {
  display: block;
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
}

.header__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  z-index: 2;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header__subtitle {
  display: block;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  z-index: 2;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  display: block;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 606px;
  width: 765px;
  z-index: 1;
}

.header__square-pic {
  display: block;
  position: absolute;
  top: 64px;
  right: 0px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: -1;
}


.description {
  display: flex;
  position: relative;
  margin: 100px auto;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  margin: 0px auto;
  width: 20%;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.two-columns__main-text {
  margin: 0px auto;
  width: 80%;
  justify-content: space-between;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.two-columns__paragraph {
  margin: 0px auto;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.two-columns__paragraph_padding_disabled {
  padding-bottom: 0px;
}


.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 100px;
}

.digits__title {
  margin: 0;
  margin-bottom: 0;
  text-align: center;
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.digits__subtitle {
  margin-top: 20px;
  text-align: center;
  padding: 0;
  width: 60%;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.table {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin-top: 60px;
}

.table__cell {
  padding-bottom: 60px;
  width: 250px;
  list-style-type: none;
}

.table__heading {
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.table__text {
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


.feynman {
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
  z-index: -2;
}

.feynman__title {
  margin: 0 auto;
  padding-top: 100px;
  width: 648px;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.feynman__subtitle {
  margin-top: 70px;
  text-align: center;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #000000;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.feynman__picture {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 637px;
  width: 867px;
  z-index: -1;
}

.kaufman {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #1f1f1f;
  z-index: -2;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  height: 877px;
  width: 877px;
  z-index: -1;
}

.kaufman__title_theme_dark {
  margin-top: 90px;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
  width: 60%;
  color: #f2f2f2;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  width: 60%;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.kaufman__subtitle_theme_dark {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
  width: 60%;
  color: #f2f2f2;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.table_theme_dark {
  margin-top: 80px;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  padding-bottom: 80px;
}


.table__heading_theme_dark {
  color: #f2f2f2;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  padding-bottom: 20px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.table__text_theme_dark {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  padding: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.table__padding_disabled {
  padding: 0;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #1f1f1f;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  color: #f2f2f2;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place_footer {
  height: 32px;
  width: 228px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.footer__column_heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.footer__column_links {
  margin-bottom: 16px;
}

.footer__column_link {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.footer__social_icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.footer__column_content_info, .footer__column_content_social{
  align-self: start;
}
